<form action="/blogs" method="post">
  <label>Title:</label><input name="title"/></br>

  <label>Content:</label><textarea name="content"></textarea></br>
  <input type="submit"/>
</form>
<a href="/">返回</a>